{% extends "base.j2" %}
{% block title %} User List {% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-100 py-10 px-6">
    <div class="max-w-6xl mx-auto bg-white shadow-xl rounded-lg p-8">

        <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-bold text-gray-800">
                Artist
            </h2>
            <div>
                <span class="text-sm text-gray-500 px-5">
                    Showing {{ artists|length }} of {{ total }} artists
                </span>
                <span>
                    <a href="{{ url_for('artist.create_artist_view', next=request.path) }}"
                        class="px-3 py-1 text-sm bg-gray-700 hover:bg-gray-900 text-white rounded-lg transition">
                        Add Artist
                    </a>
                </span>
            </div>

        </div>

        <div class="overflow-x-auto">
            <table class="min-w-full border border-gray-200 rounded-sm overflow-hidden">
                <thead class="bg-gray-100 text-gray-600 text-sm uppercase tracking-wider">
                    <tr>
                        <th class="px-6 py-3 text-left">Name</th>
                        <th class="px-6 py-3 text-left">First Release Year</th>
                        <th class="px-6 py-3 text-left">Address</th>
                        <th class="px-6 py-3 text-center">Actions</th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-200 text-gray-700">
                    {% for artist in artists %}
                    <tr class="hover:bg-gray-50 transition duration-150">
                        <td class="px-6 py-4 font-medium">
                            {{ artist.name }}
                        </td>
                        <td class="px-6 py-4 font-medium">
                            {{ artist.first_release_year }}
                        </td>

                        <td class="px-6 py-4">
                            {{ artist.address }}
                        </td>

                        <td class="px-6 py-4 text-center">
                            <div class="flex justify-center space-x-3">

                                <a href="{{ url_for('artist.detail_artist_view', artist_id=artist.id) }} "
                                    class="px-3 py-1 text-sm bg-green-400 hover:bg-green-500 text-white rounded-lg transition">
                                    Detail
                                </a>

                                <a href="{{ url_for('artist.update_artist_view', artist_id=artist.id) }}"
                                    class="px-3 py-1 text-sm bg-yellow-500 hover:bg-yellow-600 text-white rounded-lg transition">
                                    Edit
                                </a>

                                <form method="POST"
                                    action="{{ url_for('artist.delete_artist_view', artist_id=artist.id) }}"
                                    onsubmit="return confirm('Are you sure you want to delete this artist?');">

                                    <button type="submit"
                                        class="px-3 py-1 text-sm bg-red-500 hover:bg-red-600 text-white rounded-lg transition">
                                        Delete
                                    </button>
                                </form>

                            </div>
                        </td>

                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center py-6 text-gray-500">
                            No artists found.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="flex justify-between items-center mt-6">

            {% if page > 1 %}
            <a href="{{ url_for('artist.list_artist_view', page=page-1, page_size=page_size) }}"
                class="px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-700 rounded-lg transition">
                Previous
            </a>
            {% else %}
            <div></div>
            {% endif %}

            <span class="text-sm text-gray-600">
                Page {{ page }} of {{ total_pages }}
            </span>

            {% if page < total_pages %} <a
                href="{{ url_for('artist.list_artist_view', page=page+1, page_size=page_size) }}"
                class="px-4 py-2 bg-gray-600 hover:bg-gray-700 text-white rounded-lg transition">
                Next
                </a>
                {% else %}
                <div></div>
                {% endif %}

        </div>
    </div>
</div>
{% endblock %}