version: "3.9"

services:
  db:
    image: postgres:16
    container_name: rbac_postgres
    restart: always
    env_file:
      - .docker.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: rbac_flask
    restart: always
    command: flask run --host=0.0.0.0 --port=5000
    env_file:
      - .docker.env
    ports:
      - "5000:5000"
    depends_on:
      - db

volumes:
  postgres_data:
