{% extends "base.j2" %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 py-10">
    ... Dashboard
</div>
<!-- validated  client before submit to the server -->
<script>
</script>
{% endblock%}s